<?php

/*
|--------------------------------------------------------------------------
| PHP CS FIXER的规则
|--------------------------------------------------------------------------
|
| 更多文档在这里： https://github.com/FriendsOfPHP/PHP-CS-Fixer
|               https://mlocati.github.io/php-cs-fixer-configurator/#version:2.16
|
*/

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('storage')
    ->exclude('bootstrap/cache')
    ->notPath('_ide_helper.php')
    ->notPath('_ide_helper_models.php')
    ->notPath('_ide_macros.php')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        /*
        |--------------------------------------------------------------------------
        | 使用预设规则
        |--------------------------------------------------------------------------
        |
        */
        '@Symfony' => true,
        '@DoctrineAnnotation' => true,
        '@PhpCsFixer' => true,
        '@PSR2' => true,
        '@PHP74Migration' => true,
        '@PHP80Migration' => true,

        /*
        |--------------------------------------------------------------------------
        | 在预设规则的基础上自定义规则
        |--------------------------------------------------------------------------
        |
        */

        // Forbid multi-line whitespace before the closing semicolon or move the semicolon to
        // the new line for chained calls.
        'multiline_whitespace_before_semicolons' => [
            'strategy' => 'no_multi_line',
        ],

        // Removes @param, @return and @var tags that don't provide any useful information.
        'no_superfluous_phpdoc_tags' => false,

        // Annotations in PHPDoc should be grouped together so that annotations of the same type
        // immediately follow each other,
        // and annotations of a different type are separated by a single blank line.
        'phpdoc_separation' => false,

        // 可选：['phpdocs_only', 'phpdocs_like', 'all_multiline']
        'align_multiline_comment' => [
            'comment_type' => 'phpdocs_only'
        ],

        'array_indentation' => true,

        // 设置数组格式为[]这种格式，可选['long', 'short']
        'array_syntax' => ['syntax' => 'short'],

        // 开始花括号的位置，可选same、next
        'braces' => [
            'position_after_functions_and_oop_constructs' => 'next',
            'allow_single_line_closure' => true,
        ],

        // 等号对齐
        'binary_operator_spaces' => [
            'align_double_arrow' => false,
            'align_equals' => false,
        ],

        'backtick_to_shell_exec' => true,

        // namespace后面有换行
        'blank_line_after_namespace' => true,

        // 这些声明前加空行，可选：['break', 'continue', 'declare', 'return', 'throw', 'try']
        'blank_line_before_statement' => [
            'statements' => ['break', 'continue', 'declare', 'return', 'throw', 'try']
        ],

        // <?php 后面加一行空行
        'blank_line_after_opening_tag' => true,

        'class_attributes_separation' => [
            'elements' => ['const', 'method', 'property']
        ],

        // 可选：'none', 'single'
        'cast_spaces' => ['space' => 'none'],

        'fully_qualified_strict_types' => true,

        'global_namespace_import' => [
            'import_classes' => true,
            'import_functions' => true,
            'import_constants' => true,
        ],

        // 自增样式放在后面，如：$i++，可选：pre、post
        'increment_style' => ['style' => 'post'],

        // 'multiline_comment_opening_closing' => true,
        // !前面和后面都有一个空格
        'not_operator_with_space' => false,

        'no_blank_lines_after_phpdoc' => false,

        'no_empty_phpdoc' => true,

        // 删除无用的else
        'no_useless_else' => true,

        // 删除无用的return
        'no_useless_return' => true,

        // use \Bar; => use Bar;
        'no_leading_import_slash' => true,

        'no_singleline_whitespace_before_semicolons' => true,

        'no_whitespace_in_blank_line' => true,

        // !后面有一个空格
        'not_operator_with_successor_space' => false,

        'no_unused_imports' => true,

        // 类的use按长度由小到大排序
        'ordered_imports' => [
            'sort_algorithm' => 'alpha',
        ],

        // Docblocks should have the same indentation as the documented subject
        'phpdoc_indent' => true,

        'single_line_comment_style' => [
            'comment_types' => ['asterisk', 'hash']
        ],

        'phpdoc_add_missing_param_annotation' => ['only_untyped' => false],

        'phpdoc_annotation_without_dot' => true,

        'phpdoc_no_access' => true,

        'phpdoc_summary' => false,

        'single_import_per_statement' => true,

        'single_line_after_imports' => true,

        'single_blank_line_before_namespace' => true,

        // 三元运算符的空格，$a = $a   ?1 :0; => $a = $a ? 1 : 0;
        'ternary_operator_spaces' => true,

        'trim_array_spaces' => true,

        // ! is_null($retryAfter) => !is_null($retryAfter)
        'unary_operator_spaces' => true,

        // Write conditions in Yoda style (true), non-Yoda style (false) or ignore those conditions (null) based on configuration
        'yoda_style' => [
            'always_move_variable' => true,
            'equal' => false,
            'identical' => false,
            'less_and_greater' => false,
        ],
    ]);
